name: modules-ci

# Only run this for PRs with module changes
on:
  pull_request:
    branches:
    - main
    paths:
    - modules/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Lmod dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y lua5.3 lua5.3-dev tcl tcl-dev lua-posix-dev

    - name: Download and install Lmod
      run: |
        LMOD_VERSION="8.7.67" # Replace with your desired Lmod version
        wget https://github.com/TACC/Lmod/archive/refs/tags/${LMOD_VERSION}.tar.gz
        tar -xf ${LMOD_VERSION}.tar.gz
        cd Lmod-${LMOD_VERSION}
        ./configure --prefix=/opt/lmod # Choose your desired installation prefix
        make install

    - name: list /opt/lmod
      run: |
        ls /opt/lmod

    - name: list /opt/lmod/lmod
      run: |
        ls /opt/lmod/lmod

    - name: list /opt/lmod/lmod/lmod
      run: |
        ls /opt/lmod/lmod/init

    - name: Check module syntax
      shell: bash -l {0}
      run: |
        source /opt/lmod/lmod/lmod/init/bash 
        $LMOD_DIR/check_module_tree_syntax modules
